.itinerary-container {
    margin-top: 150px;
}

.vr {
    height: 200px;
}

.days-content {
    width: 750px;
}

.img-day-0 {
    width: 400px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}