.inclusions-container {
    background-color: #DFF6FF;
    height: 520px;
}

.headings {
    width: 600px;
}

.inclusions-icons {
    width: 800px;
    height: 250px;
}

.icons {
    width: 140px;
    height: 130px;
}