.headings {
    width: 700px;
}

.whytravelogged-icons {
    width: 400px;
    height: 400px;
}

.icons {
    width: 80px;
    height: 70px;
}

.img-happycustomers {
    width: 400px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}